# =========================
# Laravel / PHP
# =========================
/vendor/
.env
.env.*
!.env.example
.phpunit.result.cache
/.phpunit.cache


# =========================
# Node / Frontend
# =========================


# =========================
# Public uploads & backups
# =========================


# =========================
# IDE / OS files
# =========================

Thumbs.db

# =========================
# Homestead / Vagrant
# =========================
Homestead.json
Homestead.yaml

# =========================
# Misc
# =========================
*.log
phpmyadmin
